.average {
  margin-bottom: clamp(80px, 9.677vw, 96px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 32px;
  }

  &__rating {
    .rating__item {
      pointer-events: none;
    }
  }
}
