.bonus {
  margin-bottom: clamp(80px, 9.677vw, 96px);

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: clamp(16px, 2.016vw, 20px);

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    max-width: 550px;
    width: 100%;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__title {
    max-width: 469px;
    width: 100%;
    margin-bottom: clamp(12px, 2.083vw, 16px);

    @media screen and (max-width: 767px) {
      font-size: clamp(24px, 4.167vw, 32px);
      line-height: 140%;
      text-align: left;
    }
  }

  &__descr {
    margin-bottom: 24px;
    font-size: clamp(16px, 2.344vw, 18px);
    line-height: 150%;
    color: var(--color-black);
  }

  &__descr-code {
    width: 100px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .code__btn {
      background-color: transparent;
      padding: 0;
      color: var(--color-light-gold);
    }

    input {
      padding: 0;
      flex-grow: initial;
      color: var(--color-light-gold);
      background-color: transparent;
      transition: all 0.3s ease;
      pointer-events: none;
    }

    svg {
      fill: currentColor;
    }

    &:hover {
      input,
      button {
        &:hover {
          color: var(--color-gold);
        }
      }
    }

  }

  &__discount {
    display: block;
    margin-top: 12px;
    font-size: clamp(12px, 1.823vw, 14px);
    line-height: 140%;
    color: var(--color-grey);
  }

  &__btn {
    max-width: 264px;
  }
}
