.faq {
  margin-bottom: clamp(80px, 9.677vw, 96px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 48px;
  }

  &__questions {
    max-width: 766px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }

  &__questions-item {
    padding: clamp(16px, 3.125vw, 24px);
    background-color: var(--color-white);
    box-shadow: 0px 13px 40px 0px rgba(65, 62, 74, 0.05);
    border-radius: 20px;
  }

  &__question {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    grid-gap: 16px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    color: var(--color-black);
    transition: 0.3s ease;

    .minus {
      display: none;
    }

    &._active {
      .minus {
        display: flex;
      }

      .plus {
        display: none;
      }
    }
  }

  &__answer {
    padding-top: 14px;
    line-height: 155%;
  }
}
