.game-page {
  margin-bottom: clamp(80px, 9.677vw, 96px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(80px, 6.667vw, 96px);
  }

  &__banner {
    position: relative;
  }

  &__banner-img {
    position: absolute;
    inset: 0;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 24px;
      border: 1px solid #000;
      background-color: rgba(0, 0, 0, 0.60);
      backdrop-filter: blur(3px);
    }

    picture,
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  &__info {
    position: relative;
    width: 100%;
    padding: clamp(80px, 12.778vw, 184px) 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(32px, 2.778vw, 40px);
    z-index: 2;
  }

  &__title {
    color: var(--color-white);
    text-align: center;
  }

  &__about {
    display: grid;
    grid-template-columns: 1fr 568px;
    align-items: flex-start;
    grid-gap: clamp(48px, 6.25vw, 64px);

    @media screen and (max-width: 992px) {
      grid-template-columns: 100%;
    }
  }

  &__about-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 24px;
    grid-gap: clamp(16px, 3.125vw, 24px);

    @media screen and (max-width: 992px) {
      order: 1;
    }
  }

  &__about-text {
    line-height: 155%;
  }

  &__about-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    grid-gap: clamp(16px, 3.125vw, 24px);

    @media screen and (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    grid-gap: clamp(16px, 3.125vw, 24px);
    padding: 24px;
    padding: clamp(16px, 3.125vw, 24px);
    border-radius: 16px;
    border: 1px solid var(--color-grey-stroke);
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    color: var(--color-black);
    line-height: 100%;

    span {
      color: var(--color-gold);
    }
  }


  &__rec {
    display: flex;
    flex-direction: column;
    grid-gap: 36px;
  }

  &__rec-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;
  }

  &__slider-controls {
    display: flex;
    align-items: center;
    grid-gap: 12px;
  }

  &__slider-btn {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey-fill);
    cursor: pointer;

    &--next {
      transform: rotate(180deg);
    }
  }

  &__slider {
    width: 100%;
  }
}
