.hero {
  position: relative;
  padding: clamp(92px, 15.972vw, 230px) 0 clamp(65px, 10.833vw, 156px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-55%);
    background-image: var(--hero-line);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: clamp(365px, 46.944vw, 676px);
    width: clamp(440px, 56.528vw, 814px);

    @media (max-width: 767px) {
      width: 546px;
      height: 476px;
      left: 55%;
      transform: translateX(-45%);
    }
  }

  &__wrapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: clamp(20px, 2.778vw, 40px) clamp(10px, 2.083vw, 30px);

    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;

    @media (max-width: 992px) {
      br {
        display: none;
      }
    }

    @media (max-width: 576px) {
      text-align: center;
    }
  }

  &__bg {
    position: relative;
    grid-column: 2;
    grid-row: 1 / span 2;

    @media (max-width: 767px) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &__btns {
    align-items: flex-start;
  }
}
