.join {
  position: relative;

  &__line {
    position: absolute;
    inset: 0;

    @media (max-width: 1240px) {
      height: 705px;
      width: 985px;
      background-position: left;
      background-size: cover;
    }

    @media (max-width: 576px) {
      left: 0;
      top: 50px;
      background-image: var(--join-line-mob);
      width: 100%;
      height: 449px;
      background-size: initial;
    }

    svg {
      width: 108%;
      fill: transparent;
      object-fit: cover;
    }
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 5%;
  //   background-image: var(--join-line);
  //   background-size: 100% 100%;
  //   background-position: right;
  //   background-repeat: no-repeat;
  //   height: 898px;
  //   width: 100%;

  //   @media (max-width: 1240px) {
  //     height: 705px;
  //     width: 985px;
  //     background-position: left;
  //     background-size: cover;
  //   }

  //   @media (max-width: 576px) {
  //     left: 0;
  //     top: 50px;
  //     background-image: var(--join-line-mob);
  //     width: 100%;
  //     height: 449px;
  //     background-size: initial;
  //   }
  // }

  &::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    background-image: var(--join-mix);
    background-size: contain;
    background-repeat: no-repeat;
    width: clamp(172px, 14.74vw, 283px);
    height: clamp(155px, 23.177vw, 445px);
    animation-name: mix-join;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @media (max-width: 991px) {
      top: -5%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: clamp(160px, 22.031vw, 423px);
    height: clamp(160px, 22.031vw, 423px);
    background-color: var(--color-yellow);
    border-radius: 50%;
    right: -8.2%;
    bottom: 13%;

    @media (max-width: 991px) {
      right: -10%;
    }

    @media (max-width: 576px) {
      bottom: initial;
      top: 50%;
      right: -30%;
    }
  }

  &__wrapper {
    position: relative;
    padding: clamp(78px, 6.146vw, 118px) 0 270px;

    &::before {
      content: '';
      position: absolute;
      top: 23%;
      right: 8%;
      background-image: var(--join-red);
      background-size: contain;
      background-repeat: no-repeat;
      width: clamp(30px, 1.979vw, 38px);
      height: clamp(40px, 2.5vw, 48px);
      animation-name: red-join;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @media (max-width: 1440px) {
        top: 20%;
        right: 10%;
      }

      @media (max-width: 991px) {
        top: 5%;
        right: 15%;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 25%;
      right: 4%;
      background-image: var(--join-blue);
      background-size: contain;
      background-repeat: no-repeat;
      width: clamp(60px, 4.271vw, 82px);
      height: clamp(55px, 3.75vw, 72px);
      animation-name: blue-join;
      animation-duration: 13s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @media (max-width: 991px) {
        top: 5%;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }


    @media (max-width: 576px) {
      padding-bottom: 68px;
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(20px, 3.906vw, 30px);
  }

  &__logo {
    flex-direction: column;
    grid-gap: 0;
  }

  &__title {
    max-width: 850px;
    text-align: center;

    @media (max-width: 1024px) {
      max-width: 695px;
    }
  }

  &__descr {
    max-width: 750px;
    text-align: center;
  }
}



@keyframes mix-join {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(200px);
  }
}

@media (max-width: 991px) {
  @keyframes mix-join {
    0% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(50px);
    }
  }
}

@keyframes red-join {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(25px);
  }
}

@keyframes blue-join {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(100px);
  }
}
