.btn {
  position: relative;
  width: 100%;
  padding: 16px 0;
  background-color: var(--color-gold);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-inter);
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: var(--color-black);
  transition: all 0.3s ease;

  &:hover,
  &:active {
    background-color: var(--color-light-gold);
  }

  &:disabled {
    background-color: var(--color-grey-disable);
    color: var(--color-white);
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }

  &--grey {
    background-color: var(--color-grey-fill);

    &:hover,
    &:active {
      background-color: var(--color-grey-hover);
    }
  }
}
