.categories {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
  padding: 0 16px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-stroke);
  border-radius: 8px 0px 0px 8px;

  @media screen and (max-width: 576px) {
    padding: 16px;
    border: none;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--color-black);
    cursor: pointer;

    span {
      pointer-events: none;
    }

    svg {
      display: flex;
      transition: all 0.3s ease;
      pointer-events: none;
    }

    &.active {

      svg {
        transform: scale(-1);
      }
    }
  }

  &__body {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    margin-top: 24px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0px 8px 20px 0px rgba(139, 136, 153, 0.25);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 5;
    }

    @media screen and (max-width: 576px) {
      margin-top: 0;
    }
  }

  &__search {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid var(--color-grey-stroke);
    position: relative;
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  &__options {
    max-height: 376px;
    margin: 16px 8px 16px 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;               /* ширина всей полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-white);        /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-grey-stroke);    /* цвет бегунка */
      border-radius: 20px;       /* округлось бегунка */
      border: 3px solid transparent;  /* отступ вокруг бегунка */
    }
  }

  &__option {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__checkbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;

    &:checked ~ .categories__checkbox-inner::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__checkbox-inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    cursor: pointer;
    padding-left: 32px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: var(--color-white);
      border: 1px solid var(--color-grey-stroke);
      border-radius: 4px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: var(--checked);
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-gold);
      border: 1px solid var(--color-gold);
      border-radius: 4px;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__checkbox-icon {
    display: flex;
    width: 24px;
    height: 24px;

    picture,
    img,
    svg {
      width: 100%;
      object-fit: cover;
    }
  }

  &__checkbox-name {
    color: var(--color-black);
    letter-spacing: 0.28px;
  }

  &__result {
    display: none;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
  }

  &__choosed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 12px;

    &:empty {
      display: none;
    }
  }

  &__choose {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 8px 16px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-stroke);
    border-radius: 32px;
  }

  &__choose-name {
    font-size: 16px;
    line-height: 100%;
    color: var(--color-black);
  }

  &__choose-delete {
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-black);
    }
  }

  &__btn-reset {
    flex-shrink: 0;
    color: var(--color-gold);
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-light-gold);
    }
  }

}
