.copied {
  max-width: 240px;
  width: 100%;
  position: fixed;
  right: 12px;
  bottom: 12px;
  display: none;
  align-items: center;
  grid-gap: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--color-green);
  transition: all 0.4s ease;
  z-index: 30;

  @media screen and (max-width: 767px) {
    top: 8px;
    left: 8px;
    bottom: initial;
  }


  &.show {
    display: flex;
  }

  &__icon {
    display: flex;
  }

  &__alert {
    color: var(--color-white);

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 100%;
      font-weight: 700;
      color: var(--color-white);
    }
  }
}
