.lang {
  // position: relative;

  &.is-active {
    .lang__arrow {
      transform: scale(-100%);
    }

    .lang__body {
      display: flex;
      z-index: 10;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    grid-gap: 8px;

    span {
      width: clamp(60px, 6.452vw, 80px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__arrow {
    fill: var(--color-black);
    transition: all 0.4s ease;
  }

  &__current {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.28px;
    color: var(--color-black);
    cursor: pointer;

    svg {
      border-radius: 2px;
    }
  }

  &__body {
    position: absolute;
    top: 100%;
    display: none;
    border-radius: 8px;
    background-color: var(--color-white);
    box-shadow: 0px 8px 20px 0px rgba(139, 136, 153, 0.25);
    margin-top: 14px;
    padding: 16px 8px 16px 0;

    @media screen and (max-width: 1280px) {
      right: 0;
    }
  }

  &__variants {
    max-height: 315px;
    overflow-y: auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    padding: 0 16px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-white);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-grey-stroke);
      border-radius: 3px;
    }
  }

  &__variants-item {
    font-size: 16px;
    letter-spacing: 0.28px;
    color: var(--color-black);
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--color-grey);
    }
  }

  &__variant {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    pointer-events: none;
  }
}
