.topsale {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 6px;
  background-color: var(--color-red);
  border-radius: 8px;
  font-size: 10px;
  line-height: 100%;
  color: var(--color-white);
  text-transform: uppercase;
}
