:root {
  /* -- Fonts --*/
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);

  /* -- Colors --*/
  --color-white: #ffffff; // var(--color-white);
  --color-black: #191A1F; // var(--color-black);

  --color-grey: #7F7F7F; // var(--color-grey);
  --color-grey-stroke: #E8E8E8; // var(--color-grey-stroke);
  --color-grey-fill: #F0F0F0; // var(--color-grey-fill);
  --color-grey-disable: #E1E1E1; // var(--color-grey-disable);
  --color-grey-hover: #D7D7D7; // var(--color-grey-hover);

  --color-gray: #808080; // var(--color-gray);
  --color-footer-bg: #F6F6F6; // var(--color-footer-bg);
  --color-gold: #FBD50E; // var(--color-gold);
  --color-light-gold: #E1BD00; // var(--color-light-gold);

  --color-red: #D12424; // var(--color-red);
  --color-green: #0DC64C; // var(--color-green);

}









